<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gmail-like Vertical Navbar</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>

<body>
  {{>topNavbar Name=name}}      
   <div class="container">
        <div class="row">
            <div class="col-md-2">
                {{> navbar}}
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col sidebar1" style="border-top-left-radius: 26px;" >
                  <div id="inbox" class="sidebar1" style="margin: 80px 50px;">
                     <input type="hidden" id="inboxMailId" value="{{id}}">

                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>


    <!-- Include Bootstrap JS and jQuery -->
    <script>
        window.inboxMailId = {{id}};
       
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
       <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="/static/js/InboxMail.js"></script>
</body>

</html>
